

.main {
  display: flex;
  flex-direction: column;
}

.select {
  background-color: #141414;
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.addButton {
  background-color: #141414;
  border: solid 1px #ffffff; 
  border-radius: 20px;
  padding: 0.5rem;
  color: #ffffff;
  &:hover {
    background-color: #f3682d;
  }
}

.category {
  background-color: #141414;
  border: solid 1px #ffffff; 
  border-radius: 20px;
  padding: 0.5rem;
  color: #ffffff;
  &:hover {
    background-color: #f3682d;
  }
}

.category__Selected {
  background-color: #f3682d;
  border: solid 1px #ffffff; 
  border-radius: 20px;
  padding: 0.5rem;
  color: #ffffff;
}


@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}
